<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

<script>
	Papa.parse("https://raw.githubusercontent.com/3dgiordano/covid-19-uy-vacc-data/main/data/Uruguay.csv", {
		download: true,
		header: true,
		dynamicTyping: true,
		complete: function(results) {
			
			var table = new Tabulator("#vaccine-table", {
				height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
				data:results.data, //assign data to table
				layout:"fitColumns", //fit columns to width of table (optional)
				columns:[ //Define Table Columns
					{title:"Date", field:"date"},
					{title:"Daily", field:"daily_vaccinated", headerSort:false},
					{
						title:"Sinovac",
						columns:[
							{title:"1st", field:"people_coronavac", headerSort:false},
							title:"2nd", field:"fully_coronavac", headerSort:false},
						],
					},
					{
						title:"Pfizer/BioNTech",
						columns:[
							{title:"1st", field:"people_pfizer", headerSort:false},
							{title:"2nd", field:"fully_pfizer", headerSort:false},
						],
					},
					{
						title:"Oxford/AstraZeneca",
						columns:[
							{title:"1st", field:"people_astrazeneca", headerSort:false},
							{title:"2nd", field:"fully_astrazeneca", headerSort:false},
						],
					},
					
				],
				initialSort:[
					{column:"date", dir:"desc"},
				],
				rowClick:function(e, row){ //trigger an alert message when the row is clicked
				alert("Row " + row.getData().id + " Clicked!!!!");
				},
			});			
			
			
			
			
		}
	});


</script>

</footer>
